version: '3.8'

volumes:
  redis-prod-data:
    name: "filetao-redis-data"

services:
  common: &common
    #image: noimageyet
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "${FILETAO_EXTERNAL_PORT}:8091"
    expose:
      - "8091"
    links:
      - redis
    depends_on:
      redis:
        condition: service_healthy
    volumes:
      - ${BT_WALLETS_BASE_PATH}/.bittensor/wallets:/root/.bittensor/wallets
      - .:/install
      - ${REDIS_CONF}:/etc/redis/redis.conf

  filetao-prod: &filetao-prod
    <<: *common
    build:
      target: filetao-prod
    command:
      - /bin/bash
      - -c
      - |
        filetao run ${FILETAO_NODE} \
          --wallet.name ${FILETAO_WALLET}  \
          --wallet.hotkey ${FILETAO_HOTKEY} \
          --netuid ${FILETAO_NETUID} \
          --subtensor.network ${FILETAO_SUBTENSOR} \
          --database.host redis \
          --database.redis_password ${REDIS_PASSWORD} \
          ${FILETAO_EXTRA_OPTIONS}

  filetao-miner-prod:
    <<: *filetao-prod
    container_name: filetao-miner-prod

  filetao-validator-prod:
    <<: *filetao-prod
    container_name: filetao-validator-prod
    depends_on:
      - filetao-api-prod

  filetao-api-prod:
    <<: *filetao-prod
    container_name: filetao-api-prod
    ports:
      - "${FILETAO_API_EXTERNAL_PORT}:8091"
    command:
      - /bin/bash
      - -c
      - |
        filetao run api \
          --wallet.name ${FILETAO_WALLET}  \
          --wallet.hotkey ${FILETAO_HOTKEY} \
          --netuid ${FILETAO_NETUID} \
          --subtensor.network ${FILETAO_SUBTENSOR} \
          --database.host redis \
          --database.redis_password ${REDIS_PASSWORD} \
          ${FILETAO_EXTRA_OPTIONS}

  redis:
    build:
      context: .
      args:
        REDIS_CONF: ${REDIS_CONF}
      dockerfile: Dockerfile.redis
    container_name: filetao-redis
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -a ${REDIS_PASSWORD} ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5
    command:
      - redis-server
      - /etc/redis/redis.conf
    expose:
      - "6379"
    volumes:
      - redis-prod-data:/var/lib/redis
